<div class="card">
  <div class="card-title">
    <h2>Change your password</h2>
  </div>
    <form [formGroup]="changePasswordForm">
      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">New Password</label>
        <input type="password" style="width: 100%" class="form-control" formControlName="newPassword" id="formGroupExampleInput" >
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Confirm Password</label>
        <input type="password" style="width: 100%" class="form-control" formControlName="confirmPassword" id="formGroupExampleInput2" >
      </div>
    </form>
    <div>
      <button class="btn btn-primary" style="margin-right: 15px"  type="submit" (click)="onSubmit()">confirm</button>
      <button  type="submit" class="btn btn-danger" (click)="cancel()">cancel</button>
    </div>
</div>

