<form [formGroup]="changePasswordForm">
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">New Password</label>
    <input type="password" style="width: 70%" class="form-control" formControlName="newPassword" id="formGroupExampleInput" placeholder="Example input placeholder">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Confirm Password</label>
    <input type="password" style="width: 70%" class="form-control" formControlName="confirmPassword" id="formGroupExampleInput2" placeholder="Another input placeholder">
  </div>
</form>
<div>
  <button class="btn btn-primary"  type="submit" (click)="onSubmit()">confirm</button>
  <button  type="submit" class="btn btn-danger botao" (click)="cancel()">cancel</button>

</div>
