<div>
    <div class="card-body" style="width: 600px; margin: 0;">
      <fieldset class="form-fieldset">
        <div class="card-title text-center">
          <h3 *ngIf="client"><strong>Atualizar Cliente</strong></h3>
          <h3 *ngIf="!client"><strong>Adicionar Cliente</strong></h3>
        </div>
        <form [formGroup]="formClient" class="row g-3">
          <div class="col-md-6">
            <label for="inputCommercialName" class="form-label">Nome</label>
            <input type="text" id="inputCommercialName" class="form-control" formControlName="commercialName" placeholder="Asamoc..." autocomplete="on">
          </div>
          <div class="col-md-6">
            <label for="inputReference" class="form-label">Referência</label>
            <input type="text" id="inputReference" class="form-control" formControlName="reference" placeholder="ASC..." autocomplete="on">
          </div>
          <div class="col-md-6">
            <label for="inputPerson" class="form-label" style="font-size: 12px;">Pessoa</label>
            <select id="inputPerson" class="form-select form-select-md" formControlName="personId">
              <option *ngFor="let persons of person" [value]="persons.id">
                {{persons.designation}}
              </option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="inputCountry" class="form-label" style="font-size: 12px;">País</label>
            <select id="inputCountry" class="form-select form-select-md" formControlName="countryId">
              <option *ngFor="let countries of country" [value]="countries.id">
                {{countries.designation}}
              </option>
            </select>
          </div>
          <div class="col-12">
            <label for="inputObservation" class="form-label" style="font-size: 12px;">Observações</label>
            <textarea type="text" id="inputObservation" class="form-control mb-2" placeholder="" formControlName="observation"></textarea>
          </div>
          <div class="col-12 text-center mt-3">
            <button type="button" class="btn btn-ghost-success" [disabled]="formClient.invalid" (click)="onCreate()">
              <span *ngIf="!client">Criar</span>
              <span *ngIf="client">Atualizar</span>
            </button>
            <button type="button" class="btn btn-ghost-danger" (click)="cancel()">Cancelar</button>
          </div>
        </form>
      </fieldset>
    </div>
  </div>



