//body {
//  overflow-x: hidden;
//}
//
//#wrapper {
//  padding-left: 0;
//  -webkit-transition: all 0.5s ease;
//  -moz-transition: all 0.5s ease;
//  -o-transition: all 0.5s ease;
//  transition: all 0.5s ease;
//}
//
//#wrapper.toggled {
//  padding-left: 250px;
//}
//
//#sidebar-wrapper {
//  z-index: 1000;
//  position: fixed;
//  left: 250px;
//  width: 0;
//  height: 100%;
//  margin-left: -250px;
//  overflow-y: auto;
//  background: black; /* Gradiente de verde para azul */
//  -webkit-transition: all 0.5s ease;
//  -moz-transition: all 0.5s ease;
//  -o-transition: all 0.5s ease;
//  transition: all 0.5s ease;
//}
//
//#wrapper.toggled #sidebar-wrapper {
//  width: 250px;
//}
//
//#page-content-wrapper {
//  width: 100%;
//  position: absolute;
//  padding: 15px;
//}
//
//#wrapper.toggled #page-content-wrapper {
//  position: absolute;
//  margin-right: -250px;
//}
//
//
///* Sidebar Styles */
//
//.sidebar-nav {
//  position: absolute;
//  top: 0;
//  width: 250px;
//  margin: 0;
//  padding: 0;
//  list-style: none;
//}
//
//.sidebar-nav li {
//  text-indent: 20px;
//  line-height: 40px;
//}
//
//.sidebar-nav li a {
//  display: block;
//  text-decoration: none;
//  color: #999999;
//}
//
//.sidebar-nav li a:hover {
//  text-decoration: none;
//  color: #fff;
//  background: rgba(255, 255, 255, 0.2);
//}
//
//.sidebar-nav li a:active, .sidebar-nav li a:focus {
//  text-decoration: none;
//}
//
//.sidebar-nav>.sidebar-brand {
//  height: 65px;
//  font-size: 18px;
//  line-height: 60px;
//}
//
//.sidebar-nav>.sidebar-brand a {
//  color: #999999;
//}
//
//.sidebar-nav>.sidebar-brand a:hover {
//  color: #fff;
//  background: none;
//}
//
//@media(min-width:768px) {
//  #wrapper {
//    padding-left: 0;
//  }
//  #wrapper.toggled {
//    padding-left: 250px;
//  }
//  #sidebar-wrapper {
//    width: 0;
//  }
//  #wrapper.toggled #sidebar-wrapper {
//    width: 250px;
//  }
//  #page-content-wrapper {
//    padding: 20px;
//    position: relative;
//  }
//  #wrapper.toggled #page-content-wrapper {
//    position: relative;
//    margin-right: 0;
//  }
//}

body {
  padding-bottom: 30px;
  position: relative;
  min-height: 100%;
}

a {
  transition: background 0.2s, color 0.2s;
}
a:active,
a:focus {
  text-decoration: none;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #222;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 250px;
  text-align: center;
  padding: 20px 0;
}
.sidebar-brand h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #e88420;
}

.sidebar-nav {
  position: absolute;
  top: 75px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav > li {
  text-indent: 10px;
  line-height: 42px;
}
.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #e88420;
  font-weight: 600;
  font-size: 18px;
}
.sidebar-nav > li > a:active,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: #e88420;
  background: #ffffff;
}
.sidebar-nav > li > a i.fa {
  font-size: 24px;
  width: 60px;
}

#navbar-wrapper {
  width: 100%;
  position: absolute;
  z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
  position: absolute;
  margin-right: -250px;
}
#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  background-color: #e88420;
  font-size: 24px;
  margin-bottom: 0;
  border-radius: 0;
}
#navbar-wrapper .navbar a {
  color: #ffffff;
}
#navbar-wrapper .navbar a:hover {
  color: #ffffff;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 100px;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media (min-width: 992px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }

  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 60px;
  }

  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}
.logo{
  width: 177px;
  height: 80px;
}

.sidebar-brand{
  padding: 0;
}
.logout{
  background-color: transparent;
  border: none;
  color: white;
}
