<div id="wrapper">

  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <img src="../../../assets/fasttech.png" alt="logo" class="logo" style="height: 120px; width: 130px; margin-top: -30px; margin-right: 30px">
    </div>
    <ul class="sidebar-nav">
      <li>
        <a href="/home" class="d-flex align-items-center "><span class="material-icons" routerLink="/home" >home</span>Home</a>
      </li>
      <li>
        <a class="d-flex align-items-center" routerLink="/list-user" ><span class="material-symbols-outlined">group</span>Users</a>
      </li>
      <li>
        <a class="d-flex align-items-center" routerLink="" ><span class="material-symbols-outlined">groups</span>Clients</a>
      </li>
      <li>
        <a class="d-flex align-items-center" routerLink="/change-password"><span class="material-icons">lock_open</span>Change Password</a>
      </li>
    </ul>
     </aside>

  <div id="navbar-wrapper">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="" class="navbar-brand" id="sidebar-toggle"><span class="material-icons">menu</span></a>
        </div>
        <div class="d-flex">
          <div>
            <button mat-mini-fab class="logout" (click)="onLogout()"><span class="material-icons" >logout</span></button>
          </div>
        </div>
<!--        <div class="dropdown">-->
<!--          <button-->
<!--            class="btn btn-primary dropdown-toggle hidden-arrow"-->
<!--            type="button"-->
<!--            id="dropdownMenuButton1"-->
<!--            data-mdb-toggle="dropdown"-->
<!--            aria-expanded="false"-->
<!--          >-->
<!--            <i class="fas fa-ellipsis-v fa-lg"></i>-->
<!--          </button>-->
<!--          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">-->
<!--            <li><a class="dropdown-item" href="#"> <i class="fas fa-user-alt pe-2"></i>My Profile</a></li>-->
<!--            <li><a class="dropdown-item" href="#"> <i class="fas fa-cog pe-2"></i>Settings</a></li>-->
<!--            <li><a class="dropdown-item" href="#"> <i class="fas fa-door-open pe-2"></i>Logout</a></li>-->
<!--          </ul>-->
<!--        </div>-->
      </div>
    </nav>
  </div>

  <section id="content-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</div>
