<div class="container-xl px-4 mt-4">

  <!-- Navegação em abas -->
  <ul class="nav  nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active " id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
        Detalhes
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
        Relatório de Intervenção
      </a>
    </li>
<!--    <li class="nav-item" role="presentation">-->
<!--      <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">-->
<!--        Enviar-->
<!--      </a>-->
<!--    </li>-->
  </ul>
</div>
<!-- Conteúdo das abas -->
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <app-intervention-request-item></app-intervention-request-item>

  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <app-list-intervention-report [interventionReportList]="report"></app-list-intervention-report>
  </div>
<!--  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">-->
<!--    Conteúdo da aba Contact-->
<!--  </div>-->
</div>



