<div class="container" *ngIf="request">
  <div class="header">
    <div >
      <span style="margin-right: 10px">INT {{request.id}}</span>
      <span class="company-name"><a href="#">{{request.customer}}</a></span>
    </div>
    <div class="right">
      <span>{{request.dateRequest}}</span>
    </div>
  </div>

  <div class="details">
    <div class="left-details">
      <h4><strong>Classificação:</strong> {{request.interventionClassification}}</h4>
      <h4><strong>Solicitante:</strong> {{request.customerContact}}</h4>
    </div>
    <div class="right-details">
      <h4><strong>Técnico:</strong> {{request.technician}}</h4>
      <h4><strong>Estado:</strong> {{request.status}}</h4>
<!--      <a href="#">Criar Relatório</a>-->
      <p>
        <a href="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
          Criar Relatório
        </a>
      </p>
      <div class="collapse" id="collapseForm" style="margin-left: 50px">
        <div class="card card-body">
          <form class="row">
<!--            <div class="mb-3">-->
<!--              <label for="tempoInicial" class="form-label">Motivo da Intervenção</label>-->
<!--              <input type="text" class="form-control" id="interventionRequestId" name="tempoInicial" >-->
<!--            </div>-->
            <div class="col-12 col-md-6 mb-4">
              <label for="tempoInicial" class="form-label">Tempo Inicial</label>
              <input type="time" class="form-control" id="tempoInicial" name="tempoInicial">
            </div>
            <div class="col-12 col-md-6 mb-4">
              <label for="tempoFinal" class="form-label">Tempo Final</label>
              <input type="time" class="form-control" id="tempoFinal" name="tempoFinal">
            </div>
            <div class="mb-3">
              <label for="modoIntervencao" class="form-label">Modo de Intervenção</label>
              <input type="text" class="form-control" id="modoIntervencao" name="modoIntervencao">
            </div>
            <div class="mb-3">
              <label for="descricao" class="form-label">Descrição</label>
              <textarea class="form-control" id="descricao" name="descricao" rows="3"></textarea>
            </div>
            <div class="col-12 col-md-6 mb-4">
              <label for="intervalo" class="form-label">Intervalo</label>
              <input type="time" class="form-control" id="intervalo" name="intervalo">
            </div>
            <button type="submit" class="btn btn-primary">Criar</button>
          </form>
        </div>
      </div>
    </div>

    <div class="time-details" >
      <!--      <span>Previsto 00:00</span>-->
      <!--      <span>Abertos 00:00</span>-->
      <!--      <span>Fechados 00:00</span>-->
      <!--      <span>A creditar 00:00</span>-->
      <span><strong>Total</strong> 00:00</span>
      <span>Por Faturar</span>
      <img src="assets/pdf.png" alt="PDF">
    </div>
  </div>

  <div class="footer">
    <div class="comments" *ngIf="request">
      <h4><strong>Motivo da Intervenção:</strong>{{request.interventionReason}}</h4>
      <div class="obs">
        <div class="col-6 mb-4">
          <label class="form-label">Observações:</label>
            <div>
              <textarea type="text" class="form-control mb-2" placeholder="Obs..."></textarea>
            </div>
          <button type="submit" class="btn btn-primary">Submeter</button>
        </div>
      </div>
    </div>
  </div>

  <div class="table-container">
    <div><h4>Relatórios de Intervenção</h4></div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Data de Início</th>
        <th scope="col">Data de Fim</th>
        <th scope="col">Técnico</th>
        <th scope="col">TT/TF</th>
        <th scope="col">Tipo</th>
        <th scope="col">Descricao</th>
        <th scope="col">Observacoes</th>
        <th scope="col">Data de Criação</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let report of interventionReport">
        <td>{{report.startTime}}</td>
        <td>{{report.endTime}}</td>
        <td>{{report.technician}}</td>
        <td></td>
        <td>{{report.interventionMode}}</td>
        <td>{{report.activitiesPerformed}}</td>
        <td></td>
        <td>{{report.date}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
