<div class="">
  <footer class=" footer text-center text-white" style="background-color: #241862;">
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Obrigado por utilizar os nossos Serviços!</span>
        </p>
      </section>
    </div>

    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
      <button mat-icon-button class="logout" (click)="onLogout()">
        <span class="material-icons">logout</span>
      </button>
    </div>
  </footer>
</div>
