.footer {
  position:fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  background: linear-gradient(to right, #dedbd6, #ec9c40); /* Gradiente de verde para azul */

  //justify-content: flex-end;
  //opacity: 1 !important;
}

