<div class="input-group rounded" >
  <input style="margin-left:80%" id="datatable_filter" type="search" class="form-control rounded" [formControl]="filter"
         value="filter" placeholder="Search"
  />
  <span class="input-group-text border-0" id="search-addon" (keyup)="search($event)">
    <i class="fas fa-search"></i>
  </span>
</div>

<div class="table-container py-5 h-100">
<div><h4>Clientes</h4></div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="row">ID</th>
    <th scope="row">Reference</th>
    <th scope="row">Fiscal Name</th>
    <th scope="row">Commercial Name</th>
    <th scope="row">Country</th>
    <th scope="row">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let clients of client ">
    <td>{{clients.id}}</td>
    <td>{{clients.reference}}</td>
    <td routerLink="/client-details">{{clients.fiscalName}}</td>
    <td>{{clients.commercialName}}</td>
    <td>{{clients.country}}</td>
    <th><span  type="button" class="material-icons edit"
               (click)="onEdit(clients)">
      edit
    </span>
      <span type="button" class="material-icons delete" (click)="onDelete(clients)">
        delete
      </span></th>
  </tr>
  </tbody>
</table>
</div>


<div>
  <button mat-mini-fab class="add"><span class="material-symbols-outlined" (click)="onSubmit()">add</span></button>
</div>


