
<div class="input-group rounded" >
  <input style="margin-left:80%" id="datatable_filter" type="search" class="form-control rounded" [formControl]="filter"
         value="filter" placeholder="Search"
  />
  <span class="input-group-text border-0" id="search-addon" (keyup)="search($event)">
    <i class="fas fa-search"></i>
  </span>
</div>


<!--<div class="d-flex justify-content-end align-items-center col-6">-->
<!--  <div id="datatable_filter" class="dataTables_filter mt-2">-->
<!--    <label>-->
<!--      <input-->
<!--        type="text"-->
<!--        class="form-control form-control-sm border-2"-->
<!--        aria-controls="datatable"-->
<!--        [formControl]="filter"-->
<!--        (keyup)="search($event)"-->
<!--        value="filter"-->
<!--      />-->
<!--    </label>-->
<!--    <span class="input-group-text border-0" id="search-addon">-->
<!--      <i class="fas fa-search"></i></span>-->
<!--  </div>-->
<!--</div>-->


<table class="table" >
  <thead class="thead-light">
  <tr>
    <th scope="row">ID</th>
    <th scope="row">Reference</th>
    <th scope="row">Fiscal Name</th>
    <th scope="row">Commercial Name</th>
    <th scope="row">NUIT</th>
    <th scope="row">Person</th>
    <th scope="row">Country</th>
    <th scope="row">Language</th>
    <th scope="row">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let clients of client ">
    <td>{{clients.id}}</td>
    <td>{{clients.reference}}</td>
    <td>{{clients.fiscalName}}</td>
    <td>{{clients.commercialName}}</td>
    <td>{{clients.taxNumber}}</td>
    <td>{{clients.person}}</td>
    <td>{{clients.country}}</td>
    <td>{{clients.language}}</td>
    <th><span  type="button" class="material-icons edit"
               (click)="onEdit(clients)">
      edit
    </span>
      <span type="button" class="material-icons delete" (click)="onDelete(clients)">
        delete
      </span></th>
  </tr>
  </tbody>
</table>



<div>
  <button mat-mini-fab class="add"><span class="material-symbols-outlined" (click)="onSubmit()">add</span></button>
</div>


