
<!--<section class="vh-100 gradient-custom">-->
<!--  <div class="container py-5 h-100">-->
<!--    <div class="row d-flex justify-content-center align-items-center h-100">-->
<!--      <div class="col-12 col-md-6 d-flex justify-content-center mb-4 mb-md-0">-->
<!--        <img src="../../../assets/logoFasttech1.png" alt="Bootstrap" class="img-fluid" style="max-height: 500px; max-width: 100%;">-->
<!--      </div>-->

<!--      <div class="col-12 col-md-8 col-lg-6 col-xl-5">-->
<!--        <div class="card" style="border-radius: 1rem; background: linear-gradient(to right, #000000, #000000)">-->
<!--          <div class="card-body p-5 text-center" *ngIf="formLogin">-->
<!--            <form [formGroup]="formLogin" class="w-100">-->
<!--              <h2 class="fw-bold mb-2 text-uppercase" style="color: #e88420">Login</h2>-->
<!--              <p class="text-white-50 mb-5">Please enter your email and password!</p>-->

<!--              <div class="form-outline form-white mb-4">-->
<!--                <input type="email" id="emailX" class="form-control form-control-lg" formControlName="email" />-->
<!--                <label class="form-label" for="emailX" style="color: #938e8e">Email</label>-->
<!--              </div>-->

<!--              <div class="form-outline form-white mb-4">-->
<!--                <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password" />-->
<!--                <label class="form-label" for="typePasswordX" style="color: #938e8e">Password</label>-->
<!--              </div>-->

<!--              <button class="btn btn-outline-light btn-lg px-5" type="button" style="color: #e88420" (click)="onSubmit()">Login</button>-->

<!--              <div class="mt-3">-->
<!--                <a routerLink="/forget-password" (click)="onReset()">Forget password?</a>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!-- Just an image -->
<!--<nav class="navbar navbar-light bg-body-tertiary" style="background-color: #e88420">-->
<!--  <div class="container" >-->
<!--    <a class="navbar-brand" href="#" style="padding-right: 70px">-->
<!--      <img-->
<!--        src="assets/logoFasttech1.png"-->
<!--        height="30"-->
<!--        alt="FastTech Logo"-->
<!--        loading="lazy"-->
<!--      />-->
<!--    </a>-->
<!--  </div>-->
<!--</nav>-->

<mat-toolbar class="background" color="primary" style="height: 50px">
  <div class="container" >
        <a class="navbar-brand" href="#" style="padding-right: 70px">
          <img
            src="assets/logoFasttech1.png"
            height="30"
            alt="FastTech Logo"
            loading="lazy"
          />
        </a>
      </div>

</mat-toolbar>

<section class="vh-80 gradient-custom">
  <div class=" card container py-5 h-100" style="width: 400px; height: 200px" *ngIf="formLogin">
    <h2 style="margin: 10px">Login</h2>
    <form [formGroup]="formLogin">
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" formControlName="email" />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" formControlName="password"/>
        <label class="form-label" for="form2Example2">Password</label>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
            <label class="form-check-label" for="form2Example31"> Remember me </label>
          </div>
        </div>

        <div class="col">
          <!-- Simple link -->
          <a routerLink="/forget-password" style="color: #e88420" (click)="onReset()">Forgot password?</a>
        </div>
      </div>

      <!-- Submit button -->
      <button  type="button"  class="btn  btn-block mb-4" (click)="onSubmit()">Log in</button>

      <!-- Register buttons -->
<!--      <div class="text-center">-->
<!--        <p>Not a member? <a href="#!">Register</a></p>-->
<!--        <p>or sign up with:</p>-->
<!--        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">-->
<!--          <i class="fab fa-facebook-f"></i>-->
<!--        </button>-->

<!--        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">-->
<!--          <i class="fab fa-google"></i>-->
<!--        </button>-->

<!--        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">-->
<!--          <i class="fab fa-twitter"></i>-->
<!--        </button>-->

<!--        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">-->
<!--          <i class="fab fa-github"></i>-->
<!--        </button>-->
<!--      </div>-->
    </form>
  </div>

</section>
