<div class="input-group rounded" >
  <input style="margin-left:80%" id="datatable_filter" type="search" class="form-control rounded" [formControl]="filter"
         value="filter" placeholder="Search"
  />
  <span class="input-group-text border-0" id="search-addon" (keyup)="search($event)">
    <i class="fas fa-search"></i>
  </span>
</div>
<table class="table" >
  <thead class="thead-light">
  <tr>
    <th scope="row">ID</th>
    <th scope="row">Identification Number</th>
    <th scope="row">Tax Number </th>
    <th scope="row">Hiring Date</th>
    <th scope="row">Position</th>
    <th scope="row">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let technicians of technician ">
    <td>{{technicians.id}}</td>
    <td>{{technicians.identificationNumber}}</td>
    <td>{{technicians.taxNumber}}</td>
    <td>{{technicians.hiringDate}}</td>
    <td>{{technicians.position}}</td>
    <th><span  type="button" class="material-icons edit"
               (click)="onEdit(technicians)">
      edit
    </span>
      <span type="button" class="material-icons delete" (click)="onDelete(technicians)">
        delete
      </span></th>
  </tr>
  </tbody>
</table>



<div>
  <button mat-mini-fab class="add"><span class="material-symbols-outlined" (click)="onSubmit()">add</span></button>
</div>


