<div class="">
  <footer class=" footer text-center text-white">
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Obrigado por utilizar os nossos Serviços!</span>
        </p>
      </section>
    </div>

    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
      <span class="material-symbols-outlined" type="button" style="height: 5px; margin-top: 10px; color: #ec9c40; box-shadow: #ec9c40" (click)="onLogout()">
      logout
      </span>
    </div>
  </footer>
</div>
