<div class="d-flex justify-content-center mt-5">
  <div class="col-12 col-xl-10 col-md-8 col-lg-6">
    <!-- Detalhes do Pedido de Intervenção -->
    <div class="card mb-6" *ngIf="request">
      <div class="card-header">
        <h3><small><strong>Ref: {{request.reference}}</strong></small> Detalhes do Pedido de Intervenção</h3>
      </div>
      <div class="card-body">
        <div class="row gx-3 mb-3">
          <div class="col-md-6">
            <label class="form-label">Cliente</label>
            <p class="form-control-static">{{ request.customer }}</p>
          </div>
          <div class="col-md-6">
            <label class="form-label">Data do Pedido</label>
            <p class="form-control-static">{{request.dateRequest | date: 'dd/MM/yyyy'}}</p>
          </div>
        </div>
        <div class="row gx-3 mb-3">
          <div class="col-md-6">
            <label class="form-label">Classificação</label>
            <p class="form-control-static">{{ request.interventionClassification }}</p>
          </div>
          <div class="col-md-6">
            <label class="form-label">Prioridade</label>
            <p class="form-control-static">{{ request.priority }}</p>
          </div>
        </div>
        <div class="row gx-3 mb-3">
          <div class="col-md-6">
            <label class="form-label">E-mail do Remetente</label>
            <p class="form-control-static">{{ request.emailToSendReport}}</p>
          </div>
          <div class="col-md-6">
            <label class="form-label">Data de Conclusão</label>
            <p class="form-control-static">{{ request.expectedDateTEnd | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <div class="row gx-3 mb-3">
          <div class="col-md-6">
            <label class="form-label">Razão da Intervenção</label>
            <div *ngFor="let reason of request.interventionReason">
              <p class="form-control-static">{{reason}}</p>
            </div>
          </div>
          <div class="col-md-6">
            <app-allocate-intervention-request></app-allocate-intervention-request>
<!--            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Alocar Ticket</button>-->
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Estado</label>
          <p class="form-control-static">{{request.status}}</p>
        </div>
      </div>
<!--      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--          <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--              <h1 class="modal-title fs-5" id="staticBackdropLabel">Adicione o Técnico</h1>-->
<!--              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--            </div>-->
<!--            <div class="modal-body"  [formGroup]="formInterventionRequest">-->
<!--              <div>-->
<!--                <input formControlName="id" [value]="1" placeholder="{{request.interventionReason}}">-->
<!--              </div>-->
<!--              <div>-->
<!--                <label class="form-label">Técnico</label>-->
<!--                <select class="select form-control" formControlName="technician">-->
<!--                  <option *ngFor="let users of technicians" [value]="users.id">-->
<!--                    {{users.userName}}-->
<!--                  </option>-->
<!--                </select>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--              <button type="button" class="btn btn-primary" (click)="alocar()" >Adicionar</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


    </div>
  </div>
</div>

