
<!--<div class="input-group rounded" >-->
<!--  <input style="margin-left:80%" id="datatable_filter" type="search" class="form-control rounded" [formControl]="filter"-->
<!--         value="filter" placeholder="Search"-->
<!--  />-->
<!--  <span class="input-group-text border-0" id="search-addon" (keyup)="search($event)">-->
<!--    <i class="fas fa-search"></i>-->
<!--  </span>-->
<!--</div>-->


<!--&lt;!&ndash;<div class="d-flex justify-content-end align-items-center col-6">&ndash;&gt;-->
<!--&lt;!&ndash;  <div id="datatable_filter" class="dataTables_filter mt-2">&ndash;&gt;-->
<!--&lt;!&ndash;    <label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input&ndash;&gt;-->
<!--&lt;!&ndash;        type="text"&ndash;&gt;-->
<!--&lt;!&ndash;        class="form-control form-control-sm border-2"&ndash;&gt;-->
<!--&lt;!&ndash;        aria-controls="datatable"&ndash;&gt;-->
<!--&lt;!&ndash;        [formControl]="filter"&ndash;&gt;-->
<!--&lt;!&ndash;        (keyup)="search($event)"&ndash;&gt;-->
<!--&lt;!&ndash;        value="filter"&ndash;&gt;-->
<!--&lt;!&ndash;      />&ndash;&gt;-->
<!--&lt;!&ndash;    </label>&ndash;&gt;-->
<!--&lt;!&ndash;    <span class="input-group-text border-0" id="search-addon">&ndash;&gt;-->
<!--&lt;!&ndash;      <i class="fas fa-search"></i></span>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="table-container py-2 h-100">-->
<!--  <div><h4>Utilizadores</h4></div>-->
<!--  <table class="table table-striped"  style="font-size: 5px;  ">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th scope="row">ID</th>-->
<!--      <th scope="row">E-mail</th>-->
<!--      <th scope="row">Nome de usuário</th>-->
<!--      <th scope="row">Nome Completo</th>-->
<!--      <th scope="row">Telefone</th>-->
<!--      <th scope="row">Acções</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let users of user ">-->
<!--      <td>{{users.id}}</td>-->
<!--      <td>{{users.email}}</td>-->
<!--      <td>{{users.userName}}</td>-->
<!--      <td>{{users.fullName}}</td>-->
<!--      <td>{{users.phoneNumber}}</td>-->
<!--      <th><span  type="button" class="material-icons edit"-->
<!--                 (click)="onEdit(users)">-->
<!--      edit-->
<!--    </span>-->
<!--        <span type="button" class="material-icons delete" (click)="onDelete(users)">-->
<!--        delete-->
<!--      </span></th>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->

<!--  <div>-->
<!--    <button mat-mini-fab class="add" routerLink="/create-user"><span class="material-symbols-outlined" >add</span></button>-->
<!--  </div>-->

<!--</div>-->

<div class="page-wrapper">
  <!-- Page header -->
  <div class="page-header d-print-none">
    <div class="container-xl">
      <div class="row g-2 align-items-center">
        <div class="col">
          <h2 class="page-title">
            Utilizadores
          </h2>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
          <div class="d-flex">
            <input type="search" class="form-control d-inline-block w-9 me-3" placeholder="Search user…"/>
            <button href="" (click)="onCreateUser()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="userModal">
              <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
              Novo utilizador
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page body -->
  <div class="page-body" >
    <div class="container-xl">
      <div class="row row-cards">

        <div class="col-md-6 col-lg-3" *ngFor="let users of user">
          <div class="card">
            <div class="card-body p-4 text-center">
              <span class="avatar avatar-xl mb-3 rounded">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-user">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2a5 5 0 1 1 -5 5l.005 -.217a5 5 0 0 1 4.995 -4.783z" /><path d="M14 14a5 5 0 0 1 5 5v1a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-1a5 5 0 0 1 5 -5h4z" /></svg>
              </span>
              <h3 class="m-0 mb-1"><a href="#">{{users.fullName}}</a></h3>
              <div class="text-secondary"></div>
              <div class="mt-3">
                <span class="badge bg-green-lt">{{users.userName}}</span>
              </div>
            </div>
            <div class="d-flex">
              <a class="card-btn" (click)="onEdit(users)"><!-- Download SVG icon from http://tabler-icons.io/i/mail -->
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                </a>
              <a class="card-btn" (click)="onDelete(users)"><!-- Download SVG icon from http://tabler-icons.io/i/phone -->
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                </a>
            </div>
          </div>
        </div>

<!--        <div class="col-md-6 col-lg-3">-->
<!--          <div class="card">-->
<!--            <div class="card-body p-4 text-center">-->
<!--              <span class="avatar avatar-xl mb-3 rounded">AM</span>-->
<!--              <h3 class="m-0 mb-1"><a href="#">Alberto Maculuve</a></h3>-->
<!--              <div class="text-secondary">Consultor Senior Primavera</div>-->
<!--              <div class="mt-3">-->
<!--                <span class="badge bg-green-lt"></span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="d-flex">-->
<!--              <a href="#" class="card-btn">&lt;!&ndash; Download SVG icon from http://tabler-icons.io/i/mail &ndash;&gt;-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>-->
<!--                Email</a>-->
<!--              <a href="#" class="card-btn">&lt;!&ndash; Download SVG icon from http://tabler-icons.io/i/phone &ndash;&gt;-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>-->
<!--                Número</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-6 col-lg-3">-->
<!--          <div class="card">-->
<!--            <div class="card-body p-4 text-center">-->
<!--              <span class="avatar avatar-xl mb-3 rounded">MC</span>-->
<!--              <h3 class="m-0 mb-1"><a href="#">Marvin Conceição</a></h3>-->
<!--              <div class="text-secondary">Consultor Senior Primavera</div>-->
<!--              <div class="mt-3">-->
<!--                <span class="badge bg-green-lt"></span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="d-flex">-->
<!--              <a href="#" class="card-btn">&lt;!&ndash; Download SVG icon from http://tabler-icons.io/i/mail &ndash;&gt;-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>-->
<!--                Email</a>-->
<!--              <a href="#" class="card-btn">&lt;!&ndash; Download SVG icon from http://tabler-icons.io/i/phone &ndash;&gt;-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>-->
<!--                Número</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-md-6 col-lg-3">-->
<!--          <div class="card">-->
<!--            <div class="card-body p-4 text-center">-->
<!--              <span class="avatar avatar-xl mb-3 rounded">E</span>-->
<!--              <h3 class="m-0 mb-1"><a href="#">Estevão</a></h3>-->
<!--              <div class="text-secondary">Dev. Primavera</div>-->
<!--              <div class="mt-3">-->
<!--                <span class="badge bg-green-lt"></span>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="d-flex">-->
<!--              <a href="#" class="card-btn">&lt;!&ndash; Download SVG icon from http://tabler-icons.io/i/mail &ndash;&gt;-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>-->
<!--                Email</a>-->
<!--              <a href="#" class="card-btn">&lt;!&ndash; Download SVG icon from http://tabler-icons.io/i/phone &ndash;&gt;-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>-->
<!--                Número</a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

      </div>
      <div class="d-flex mt-4">
        <ul class="pagination ms-auto">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
              <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
              prev
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item">
            <a class="page-link" href="#">
              next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
      <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
          <ul class="list-inline list-inline-dots mb-0">
            <li class="list-inline-item">
              Copyright &copy; 2024
              <a href="." class="link-secondary">Fasttech</a>.
              All rights reserved.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>



