<button mat-raised-button (click)="onSubmit()"
        color="primary">
  Novo Usuário
</button>


<table class="table" style="width: 300px; height: 200px;">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Email</th>
    <th scope="col">User Name</th>
    <th scope="col">Full Name</th>
    <th scope="col">Phone Number</th>
<!--    <th scope="col">Naturalidade</th>-->
<!--    <th scope="col">Genero</th>-->
<!--    <th scope="col">Data de Nascimento</th>-->
<!--    <th scope="col">Endereco</th>-->
    <th scope="col">Accoes</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let users of user ">
    <td>{{users.id}}</td>
    <td>{{users.email}}</td>
    <td>{{users.userName}}</td>
    <td>{{users.fullName}}</td>
    <td>{{users.phoneNumber}}</td>
<!--    <td>{{clients.placeOfBirth}}</td>-->
<!--    <td>{{clients.gender}}</td>-->
<!--    <td>{{clients.dateOfBirth}}</td>-->
<!--    <td>{{clients.address}}</td>-->
    <th><span  type="button" class="material-icons edit"
               (click)="onEdit(users)">
      edit
    </span>
      <span type="button" class="material-icons delete " >
        delete
      </span></th>
  </tr>
  </tbody>
</table>




