<div>
  <button mat-mini-fab class="add"><span class="material-symbols-outlined" (click)="onSubmit()">person_add</span></button>
</div>


<table class="table" >
  <thead class="thead-light">
  <tr>
    <th scope="row">ID</th>
    <th scope="row">Email</th>
    <th scope="row">User Name</th>
    <th scope="row">Full Name</th>
    <th scope="row">Phone Number</th>
    <th scope="row">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let users of user ">
    <td>{{users.id}}</td>
    <td>{{users.email}}</td>
    <td>{{users.userName}}</td>
    <td>{{users.fullName}}</td>
    <td>{{users.phoneNumber}}</td>
    <th><span  type="button" class="material-icons edit"
               (click)="onEdit(users)">
      edit
    </span>
      <span type="button" class="material-icons delete" (click)="onDelete(users)">
        delete
      </span></th>
  </tr>
  </tbody>
</table>




