<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Alocar Ticket</button>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Adicione o Técnico</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" [formGroup]="formInterventionRequest"  >
        <div>
          <input formControlName="id" [value]="1" placeholder="">
        </div>
        <div>
          <label class="form-label">Técnico</label>
          <select class="select form-control" formControlName="technician">
            <option *ngFor="let users of technician" [value]="users.id">
              {{users.userName}}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  >Adicionar</button>
      </div>
    </div>
  </div>
</div>

