<section class="gradient-custom  d-flex align-items-center justify-content-center">
  <div class="container-fluid  d-flex align-items-center justify-content-center">
    <div class="row  justify-content-center align-items-center ">
      <div class="col-12 col-lg-8 col-xl-6">
        <div class="d-flex flex-column h-100 justify-content-center">
          <div class="d-flex justify-content-end mb-4">
            <img src="../../../assets/logoFasttech1.png" alt="logo" class="logo" style="height: 50px; width: auto; padding-left: 20px">
          </div>
          <h2 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center" *ngIf="!interventionRequest">Ticket</h2>
          <h2 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center" *ngIf="interventionRequest">Close Ticket</h2>
          <form [formGroup]="formInterventionRequest" class="d-flex flex-column">
            <div class="row">
              <div class="col-12 col-md-6 mb-4">
                <label class="form-label select-label">Customer Contact</label>
                <select class="select form-control" formControlName="customerContactId">
                  <option *ngFor="let customer of clientContact" [value]="customer.id">
                    {{customer.fullName}}
                  </option>
                </select>
              </div>
              <div class="col-12 col-md-6 mb-4">
                <label class="form-label">Technician</label>
                <select class="select form-control" formControlName="technicianId">
                  <option *ngFor="let technicians of technician" [value]="technicians.id">
                    {{technicians.fullName}}
                  </option>
                </select>
              </div>
              <div class="col-12 col-md-6 mb-4">
                <div class="form-outline w-100">
                  <label for="startTime" class="form-label">Date request</label>
                  <input type="datetime-local" class="form-control" id="startTime" formControlName="dateRequest" />
                </div>
              </div>
              <div class="col-12 mb-4">
                <label class="form-label">Intervention Reason</label>
                <div formArrayName="interventionReason">
                  <div *ngFor="let interventionReason of interventionReasonGroup.controls; let i = index">
                    <textarea type="text" class="form-control mb-2" placeholder="Intervention Reason..." formControlName="{{i}}"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-4 pt-2 text-center">
              <button class="btn btn-primary me-2" type="submit" (click)="onCreate()">
                <span *ngIf="!interventionRequest">Add</span>
                <span *ngIf="interventionRequest">Update</span>
              </button>
              <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<div class="container">-->
<!--  <mat-card class="card">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Actions Buttons</mat-card-title>-->
<!--      <mat-card-subtitle>Start</mat-card-subtitle>-->
<!--    </mat-card-header>-->
<!--    <mat-card-actions>-->
<!--      <button mat-button>LIKE</button>-->
<!--      <button mat-button>SHARE</button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->
<!--</div>-->

