//.card{
//  display: flex;
//  align-items: center;
//  padding-right: 10%;
//  //padding-left: 10%;
//  //margin-bottom: 20%;
//}
//.btn{
//  margin: 15px !important;
//}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta a altura conforme necessário */
}

.card {
  width: 800px; /* Define a largura do card conforme necessário */
  height: 500px;
}

