<div class="card" style="width: 400px; height: 300px">
  <h4 class="card-title">Confirm Email</h4>
  <form>
    <div class="form-group">
      <label for="password">Email</label>
      <input type="email" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Send</button>
    <button  type="submit" class="btn btn-danger botao" (click)="cancel()">Cancelar</button>
  </form>
</div>
