<div style="align-content: center; width: 400px; background: #eeeeee" >
  <div mat-dialog-title style="padding-left: 50px">
    <button type="button" style="margin-left: 90%; font-size: 10px" class="btn-close" aria-label="Close" (click)="onClose()"></button>
    <h2>Confirma o e-mail</h2>
  </div>
  <form mat-dialog-content [formGroup]="forgetPasswordForm" style="padding-left: 50px">
    <div>
      <label for="email"><h3>E-mail</h3></label>
      <input formControlName="email" type="email" style="width: 90%" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div >
      <button  type="submit" style="margin: 10%" class="btn btn-outline-primary" (click)="onSend()">enviar</button>
      <button  type="submit" class="btn btn-outline-danger" (click)="cancel()">cancelar</button>
    </div>
  </form>
</div>
