<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Sign in - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
  <style>
    @import url('https://rsms.me/inter/inter.css');
    :root {
      --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    }
    body {
      font-feature-settings: "cv03", "cv04", "cv11";
    }
  </style>
  <script src="forget-password.component.ts"></script>
</head>
<body  class=" d-flex flex-column">
<div class="page page-center">
  <div class="container container-tight py-4">
    <div class="card card-md">
        <h3>Ensira o seu e-mail</h3>
        <form  method="get" autocomplete="on" novalidate [formGroup]="forgetPasswordForm">
          <div class="mb-3">
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control" placeholder="abc@gmail.com" autocomplete="off" formControlName="email">
          </div>
          <div class="form-footer col-12">
            <a type="button" class="btn btn-primary small" style="color: #eeeeee" (click)="onSend()">Enviar</a>
            <a type="button" class="btn btn-danger small" style="color: #eeeeee" (click)="onClose()">cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>

