<div class="card" style="height: 200px; width: 300px">
  <div class="card-title">
    <h2 *ngIf="hour">Update Hour</h2>
    <h2 *ngIf="!hour">Add Hour</h2>
  </div>
  <form class="row g-3" style="margin-left: 15%; height: 200px"  [formGroup]="formHour">
    <div class="col-md-6">
      <label for="inputReference" class="form-label">Hour</label>
      <input  type="number" style="width: 100%" class="form-control" id="inputReference" formControlName="hours">
    </div>
    <div>
      <button type="submit"  [disabled]="formHour.invalid" class="btn btn-primary " (click)="onCreate()">
        <span *ngIf="!hour" >Add</span>
        <span *ngIf="hour" >Update</span>
      </button>      <button  type="submit" class="btn btn-danger" (click)="cancel()">cancel</button>
    </div>
  </form>
</div>
