


<table class="table" >
  <thead class="thead-light">
  <tr>
    <th scope="row">ID</th>
    <th scope="row">Minutes</th>
    <th scope="row">Hours</th>
    <th scope="row">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hours of hour ">
    <td>{{hours.id}}</td>
    <td>{{hours.minutes}}</td>
    <td>{{hours.hours}}</td>
    <th>
      <span type="button" class="material-icons delete" (click)="onDelete(hours)">
        delete
      </span>
    </th>
  </tr>
  </tbody>
</table>



<div>
  <button mat-mini-fab class="add"><span class="material-symbols-outlined" (click)="onSubmit()">add</span></button>
</div>


