<!--<div  style="width: 400px; height: 500px" class="card modal-blur " tabindex="-1" role="dialog" aria-hidden="true">-->
<!--  <div>-->
<!--    <h2 *ngIf="user">Editar utilizador</h2>-->
<!--    <h2 *ngIf="!user">Novo utilizador</h2>-->
<!--  </div>-->
<!--  <form class="row g-3 "  [formGroup]="formUser">-->
<!--      <div class="col-md-12">-->
<!--        <label for="inputUserName" class="form-label">Nome do utilizador</label>-->
<!--        <input type="text" class="form-control" id="inputUserName" formControlName="userName">-->
<!--      </div>-->
<!--      <div class="col-md-12">-->
<!--        <label for="inputEmail4" class="form-label">Email</label>-->
<!--        <input type="email" class="form-control" id="inputEmail4" placeholder="abc@gmail.com" formControlName="email">-->
<!--      </div>-->
<!--      <div class="col-md-12">-->
<!--        <label for="inputPhoneNumber" class="form-label">Telefone</label>-->
<!--        <input type="text" class="form-control" id="inputPhoneNumber" placeholder="+258" formControlName="phoneNumber">-->
<!--      </div>-->
<!--      <div class="col-md-12">-->
<!--        <label for="inputFullName" class="form-label">Nome completo</label>-->
<!--        <input type="text" class="form-control" id="inputFullName" formControlName="fullName">-->
<!--      </div>-->
<!--    <div class="col-12">-->
<!--      <button type="submit"  [disabled]="formUser.invalid" class="btn btn-primary botao" (click)="editUser()">-->
<!--        <span *ngIf="!user">criar</span>-->
<!--        <span *ngIf="user">actualizar</span>-->
<!--      </button>-->
<!--      <button  type="submit" class="btn btn-danger botao" (click)="cancel()">cancelar</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->

<div class="card" style="max-width: 600px; margin: auto;">
  <div class="card-body">
    <fieldset class="form-fieldset">
      <div class="card-title text-center">
        <h3 *ngIf="user"><strong>Atualizar Utilizador</strong></h3>
        <h3 *ngIf="!user"><strong>Adicionar Utilizador</strong></h3>
      </div>
      <form [formGroup]="formUser" class="row g-3">
        <div class="col-md-6">
          <label for="inputUserName" class="form-label">Nome do utilizador</label>
          <input type="text" id="inputUserName" class="form-control" formControlName="userName" placeholder="Nome do utilizador" autocomplete="off">
        </div>
        <div class="col-md-6">
          <label for="inputFullName" class="form-label">Nome completo</label>
          <input type="text" id="inputFullName" class="form-control" formControlName="fullName" placeholder="Nome completo" autocomplete="on">
        </div>
        <div class="col-md-6">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" id="inputEmail" class="form-control" formControlName="email" placeholder="Email" autocomplete="off">
        </div>
        <div class="col-md-6">
          <label for="inputPhoneNumber" class="form-label">Telefone</label>
          <input type="text" id="inputPhoneNumber" class="form-control" formControlName="phoneNumber" placeholder="Telefone" autocomplete="off">
        </div>
        <div class="col-12 text-center mt-3">
          <button type="button" class="btn btn-ghost-success" [disabled]="formUser.invalid" (click)="editUser()">
            <span *ngIf="!user">Criar</span>
            <span *ngIf="user">Atualizar</span>
          </button>
          <button type="button" class="btn btn-ghost-danger" (click)="cancel()">Cancelar</button>
        </div>
      </form>
    </fieldset>
  </div>
</div>


