<div class="card" style="width: 400px; height: 500px">
  <div>
    <h2 *ngIf="user">Actualizar Usuário</h2>
    <h2 *ngIf="!user">Cadastrar Usuário</h2>
  </div>
  <form class="row g-3 "  [formGroup]="formUser">
      <div class="col-md-12">
        <label for="inputUserName" class="form-label">User Name</label>
        <input type="text" class="form-control" id="inputUserName" formControlName="userName">
      </div>
      <div class="col-md-12">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="abc@gmail.com" formControlName="email">
      </div>
      <div class="col-md-12">
        <label for="inputPhoneNumber" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="inputPhoneNumber" placeholder="+258" formControlName="phoneNumber">
      </div>
      <div class="col-md-12">
        <label for="inputFullName" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="inputFullName" formControlName="fullName">
      </div>
  <!--    <div class="col-12">-->
  <!--      <button type="submit" class="btn btn-primary" (click)="createUser()">Create</button>-->
  <!--    </div>-->
    <div class="col-12">
      <button type="submit"  [disabled]="formUser.invalid" class="btn btn-primary botao" (click)="editUser()">
        <span *ngIf="!user">Criar</span>
        <span *ngIf="user">Actualizar</span>
      </button>
      <!--    <button type="submit" class="btn btn-primary" (click)="editUser()">Salvar</button>-->
      <button  type="submit" class="btn btn-danger botao" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</div>
